locals {

  project_id       = "PROYECT_ID"
  region           = "REGION"
  zone             = "ZONE"
  image            = "IMAGE_NAME"
  machine          = "MACHINE"
  credentials 	   = "CREDENCIALS"
  ssh_user         = "SSH_USER"
  private_key_path = "SSH_KEY_PATH"
  gke_num_nodes    = GKE_NUM_NODES    

}